@import url(https://fonts.googleapis.com/css?family=Raleway);
.project_card {
    width: 350px;
    height: 200px;
    color: var(--container-color);
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
   
.project_card img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.project_card:hover img {
    opacity: 0.2;
}

.project_card:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: var(--title-color-dark);
    opacity: 0.5;
    transform: translateY(100%);
    transition: all 0.25s;
    transition-delay: 0.25s;
}

.project_card:hover:before {
    transform: translateY(0);
    transition-delay: 0s;
}

.project_card .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.25s ease;
}

.project_card h3,
.project_card h5 {
    margin: 0;
    letter-spacing: 1px;
}
.project_card h3 {
    font-family: var(--body-font);
    font-weight: 400;
    margin-bottom: 5px;
    color: var(--container-color);
    font-size: var(--h3-font-size);
}
.project_card h5 {
    background-color: #ae895d;
    padding: var(--mb-1);
    cursor: pointer;
    margin: var(--mb-2);
}

.project_card:hover .caption {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.3s;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    margin: var(--mb-2);
}
.portfolio {
    position: relative;
}

/* modal */
.project_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: var(--z-modal);
}
.project_modal-info {
    max-width: 80%;
    margin: 100px auto;
    background-color: var(--container-color);
    padding: var(--mb-3);
}
.project_modal-title {
    text-align: center;
}
.project_modal-description {
    text-align: center;
    margin: var(--mb-2);
}
.project_modal-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.demo, .repo {
    font-size: var;
    font-size: var(--h3-font-size);
    cursor: pointer;
}
